@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}


header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
}

/* HEADER SUPERIOR */

.header__superior{
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
}

.logo img{
    width: 200px;
    display: block;
    padding: 10px auto;
}

.search input{
    width: 300px;
    padding: 8px;
}

/* BARRA MENU*/

.container__menu{
    width: 100%;
    height: 70px;
    background: #168D06; /*#023877*/
    padding: 0px 20px;
}

.menu{
    max-width: 1200px;
    margin: auto;
    height: 100%;
}

nav{
    height: 100%;
}

nav > ul{
    height: 100%;
    display: flex;
}

nav ul li{ /* nav > ul > li*/
    height: 100%;
    list-style: none;
    position: relative;
}

nav >  ul > li:first-child > a{
    background-image: url(../img/home.png);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 20px 40px;
} */

nav >  ul > li:first-child:hover > a{
    background-image: url(../img/home.png);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center center;
}

nav > ul > li > a{
    width: 100%;
    height: 100%;
    display: flex;
    color: white;
    align-items: center;
    padding: 14px;
    text-transform: uppercase;
    font-size: 14px;
    transition: all 300ms ease;
}

nav > ul > li > a:hover{
    transform:  scale(1.0);
    background: #3DDA71; /*0074c7*/
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

#selected{
    transform: scale(1.0);
    background-color: #3DDA71; /*0074c7*/
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

/* SUBMENU */

nav ul li ul{
    width: 200px;
    display: flex;
    flex-direction: column;
    background: #fff;
    position: absolute;
    top: 90px;
    left: -5px;
    padding: 14px 0px;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    z-index: 10;
    transition: all 300ms ease;
}

nav ul li:hover ul{
    visibility: visible;
    opacity: 1;
    top: 70px;
}

nav ul li ul::before{
    content: '';
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid white;
    position: absolute;
    top: -12px;
    left: 20px;
}

nav ul li ul li a{
    display: block;
    color: #168D06; /*0099e9*/
    padding: 6px;
    padding-left: 14px;
    margin-top: 10px;
    font-size: 14px;
    text-transform: uppercase;
    transition: all 300ms ease;
}

nav ul li ul li a:hover{
    background: #3DDA71;
    color: #fff;
    transform:  scale(1.0);
    padding-left: 30px;
    font-size: 14px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

/*ARTICULOS*/

main{
    background: #f0f0f0;
    padding: 40px 20px;
    margin-top: 194px;
}

.imagen{
    width: 600px;
    display: block;    
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

.videoinicio iframe{
    width: 850px;
    height: 500px;
    display: block;    
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
}


article{
    max-width: 1200px;
    margin: 20px auto;
    padding: 40px;
    background: #fff;
}

article h1{
    text-align: center;
    font-size: 36px;
}

article h2{
    text-align: center;
    font-size: 36px;
}

article p{
    margin-top: 20px;
    font-size: 18px;
    font-weight: 300px;
    color: gray;
}


/*:::::Pie de Pagina*/
.pie-pagina{
    width: 100%;
    background-color: #000;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: gray;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: #000;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}

.pie-pagina .grupo-2 small span a{
    text-decoration: none;
    color: #fff;
}

.pie-pagina .grupo-2 small span a:hover{
    color: aqua;
}

.boton-wsp{
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    background: #0df053;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
}

.boton-wsp:hover{
    text-decoration: none;
    color: #0df053;
    background: #fff;
}

/* Formulario de Contacto */

.contenedor-formulario{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px;
    margin-top: 90px;
}

.contenedor-formulario h2{
    margin-bottom: 15px;
    font-size: 35px;
}

.contenedor-formulario p{
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.contenedor-formulario a{
    font-size: 18px;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
    color: black;
    font-weight: 700;
}

.contenedor-formulario a i{
    color: #3DDA71;
    margin-right: 10px;
}

.contenedor-formulario form .campo, textarea{
    width: 100%;
    padding: 15px 10px;
    font-size: 16px;
    border: 1px solid #3DDA71;
    margin-bottom: 20px;
    border-radius: 3px;
    outline: 0px;
}


.contenedor-formulario form textarea{
    max-width: 600px;
    min-width: 600px;
    min-height: 140px;
    max-height: 150px;
}

.contenedor-formulario .btn-enviar{
    padding: 15px;
    font-size: 15px;
    border: none;
    outline: 0px;
    background: #3DDA71;
    color: white;
    border-radius: 10px;
    transition: all 300ms ease;
    cursor: pointer;
}

.contenedor-formulario .btn-enviar:hover{
    background: #168D06;
}

/* PREGUNTAS FRECUENTES HTML*/

.page-header{
    background-color: #F4F4F4;
    width: 100%;
    height: 100px;
    padding-top: 15px;
}

.page-header div h2{
    color: black;
    margin-left: 60px;
    padding-top: 20px;
    font-size: 36px;
    font-weight: bolder;
}

.user-content{
    background-color: #fff;
    width: 100%;
    padding-top: 20px;
    padding-left: 60px;
}

.user-content div p span{
    color: black;
    font-size: 20px;
    font-weight: bold;
}


.user-content div p{
    color: black;
    font-size: 14px;
    line-height: 45px;
}

.user-buy{
    background-color: #fff;
    width: 100%;
    padding-top: 20px;
    padding-left: 60px;
}

.user-buy div p span{
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.user-buy div ol{
    color: black;
    font-size: 14px;
    line-height: 45px;
    padding-left: 30px;
}

.user-buy div ol span{
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.user-buy div ol li ul span{
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.user-buy div ol li ul{
    padding-left: 28px;
}

/*RESPONSIVE FOOTER*/

@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}

/* ELEMENTOS RESPONSIVE*/

.icon__menu{
    font-size: 26px;
    color: white;
    cursor: pointer;
    width: 26px;
    height: 100%;
    display: none;
    align-items: center;
    padding-top: 16px 
}

#label__check{
    widows: 26px;
    height: 100%;
    display: none;
}

#check__menu{
    display: none;
}


@media screen and (max-width: 720px){
    .search input{
        display: none;
    }

    .header__superior{
        padding: 10px;
    }

    .logo img{
        width: 200px;
    }

    nav > ul{
        flex-direction: column;
        background-color: #168D06;
        position: fixed;
        left: 0;
        top: 160px;
        width: 100%;
        height: 0px;
        transition: all 300ms ease;
        z-index: 100;
        opacity: 0;
        visibility: hidden;
    }
    
    nav > ul > li > a:hover{
        transform: scale(1);
    }

    nav ul li ul{
        left: 90px;
    }

    nav > ul > li:hover ul{
        top: 50px;
    }

    nav > ul > li:first-child a{
        background-position: 20px;
    }

    #selected{
        transform: scale(1);
    }

    #label__check{
        display: block;
    }

    .icon__menu{
        display: block;
    }

    #check__menu:checked ~ nav > ul{
        height: 300px;
        visibility: visible;
        opacity: 1;
    }

    main article section{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-top: 160px;
        font-size: 0.1em;
    }

    .imagen{
        width: 300px;
    }

    p{
        font-size: 0.9em;
    }

    .user-content, .user-buy{
        padding-left: 10px;
        font-size: 0.8em;
    }

    .user-buy div, .user-content div{
        padding: 0px 15px 5px 10px;
        text-align: start;
    }

    .user-buy div ol, .user-content div ol{
        padding-left: 15px;
    }

    .user-content div p span, .user-buy div p span{
        font-size: 1.3em;
        text-align: center;
    }

    .user-content div li span, .user-buy div li span{
        font-size: 1.3em;
        text-align: center;
    }

    .page-header{
        padding-top: 0px;
        height: 50px;
        text-align: center;
    }

    .page-header div h2{
        font-size: 1.3em;
        padding-top: 10px;
        text-align: center;
        margin: 0px;
    }

    .main-contacto{
        padding-top: 0px;
    }

    .contenedor-formulario{
        padding-top: 20px;
        display: flex;
        flex-direction: column;
    }

    .contenedor-formulario form .campo{
        max-width: 350px;
        min-width: 350px;
        min-height: 50px;
        max-height: 50px;
    }

    .contenedor-formulario form textarea{
        max-width: 350px;
        min-width: 350px;
        min-height: 140px;
        max-height: 150px;
    }

    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }

}

